
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var file in ViewBag.Files)
{
    <div class="panel-body">
        <p>@file.UploadDate</p>
        <p>@file.SectionId</p>
        <br />
    </div>
    <br />
}
