
@{
    ViewBag.Title = "Admin Panel";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Add a new course", "New", "Course", null, null)
<br />

@Html.ActionLink("Add students to a course", "AssignStudent", "Course", null, null)
<br />

@Html.ActionLink("Change a course professor", "ChangePofessor", "Course", null, null)

